<div class="simple-component">
    <h1>Einfache Komponente</h1>
    <p>Dies ist ein einfacher Absatz.</p>
    <div class="content">
        <span>Text 1</span>
        <span>Text 2</span>
        <span>Text 3</span>
    </div>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
</div>
